// Define typography
body {
}

.fluid-bg {
  width : 100%;
}

.container.max-8 {
  max-width : 900px;
}

// General Padding 

.padtb {
  padding : 2em 0;
}

.padtb1 {
  padding : 2.5em 0;
}

.padtb2 {
  padding : 3.5em 0;
}

.padtb3 {
  padding : 4.5em 0;
}

.pad20 {
  padding : 5px;
}

.pad40 {
  padding : 20px;
}

.mb40 {
  margin-bottom : 40px;
}

.mb20 {
  margin-bottom : 20px;
}

.m0 {
  margin : 0;
}

.sect-pad-xxl,
.sect-pad-xl,
.sect-pad-l {
  padding-top    : 2em;
  padding-bottom : 2.5em;
}

@media (min-width : 768px) {
  .pad20 {
    padding : 20px;
  }
  .pad40 {
    padding : 40px;
  }
  .sect-pad-l {
    padding-top    : 2.5em;
    padding-bottom : 3em;
  }
  .sect-pad-xl {
    padding-top    : 3.5em;
    padding-bottom : 4.25em;
  }
  .sect-pad-xxl {
    padding-top    : 4.25em;
    padding-bottom : 5em;
  }
}

//various Backgrounds
.blue-bg {
  background    : $blue;
  color         : $white;
  padding-left  : 15px;
  padding-right : 15px;
}

.paper-bg {
  background : $white;
  color      : $grey5;
  box-shadow : 0px 5px 19px 0px rgba(0, 0, 0, 0.22);
  padding    : 20px;
  margin     : 0 auto 10px auto;
}

@media (min-width : 768px) {
  .paper-bg {
    padding : 40px;
  }
}

.modal-header {
  padding-bottom : 0;
  border-bottom  : 0;
}

img.sampleimg {
  border    : 1px solid $greyd;
  width     : 100%;
  max-width : 500px;
  margin    : 20px auto 35px auto;
  display   : block;
}

.borderless td, .borderless th {
  border : none;
}