// Homepage

.homepage {
  .main {
    background      : url('../imgs/home-bg-min.jpg') transparent top center no-repeat;
    background-size : cover;
    padding-top     : 3em;
    padding-bottom  : 8em;
    text-align      : center;

    h1 {
      margin-bottom : 20px;
    }
    .btn-xl {
      min-width : 260px;
    }
  }
  .links-sect {
    text-align     : left;
    background     : $blue;
    padding-top    : 2em;
    padding-bottom : 2em;

    .link-contain {
      width     : 100%;
      max-width : 900px;
      margin    : 0 auto;

      .link-box {
        width               : 100%;
        border-radius       : 3px;
        background-color    : $blue-lt;
        background-position : 10px center;
        background-repeat   : no-repeat;
        background-size     : 36px;
        font-size           : 1rem;
        color               : $white;
        padding             : 12px 18px 12px 50px;
        margin-bottom       : 15px;
        display             : block;

        &:hover,
        &:active {
          cursor           : pointer;
          background-color : $blue-ltlt;
          text-decoration  : none;
        }

        &.box-ins {
          background-image : url('../imgs/ico-ins.svg');
        }
        &.box-adr {
          background-image : url('../imgs/ico-address.svg');
        }
        &.box-faq {
          background-image : url('../imgs/ico-faq.svg');
        }

        h3 {
          margin-bottom : 0;
        }
      }
    }
  }
}

@media (min-width : 576px) {
  .homepage {
    .main {
      padding-top    : 4em;
      padding-bottom : 10em;
      h1 {
        margin-bottom : 35px;
      }
      .btn-xl {
      }
    }
  }
}

@media (min-width : 768px) {
  .homepage {
    .main {
      background      : url('../imgs/home-bg-min.jpg') transparent center center no-repeat;
      background-size : cover;
      padding-top     : 6em;
      padding-bottom  : 14em;

      h1 {
        margin-bottom : 45px;
      }
      .btn-xl {
        min-width : 260px;
      }
    }

    .links-sect {
      text-align     : center;
      padding-top    : 4em;
      padding-bottom : 4em;

      .link-contain {
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
        align-items     : stretch;

        .link-box {
          border-radius       : 3px;
          background-color    : $blue-lt;
          background-position : center 25px;
          background-repeat   : no-repeat;
          background-size     : 60px;
          color               : $white;
          width               : 32%;
          padding             : 100px 25px 40px 25px;
          margin-right        : 2%;
          flex                : 1;

          &.box-ins {
            background-image : url('../imgs/ico-ins.svg');
          }
          &.box-adr {
            background-image : url('../imgs/ico-address.svg');
          }
          &.box-faq {
            background-image : url('../imgs/ico-faq.svg');
            margin-right     : 0;
          }

          h3 {
            margin-bottom : 0;
          }
        }
      }
    }

  }
}

@media (max-width : 576px) {
  .homepage {
    .main {
      .btn-xl {
        padding   : 12px 20px;
        font-size : 18px;
      }
    }
  }
}

// Footer

footer {
  color     : $grey8;
  font-size : .813rem;
  padding   : 20px 0 30px 0;
  overflow  : hidden;

  .ft1, .ft2 {
    width      : 100%;
    text-align : center;

    .copyr {
      margin-right : 8px;
    }
  }
  .ft2 {
    margin-bottom : 12px;

    .ft-link {
      padding-right : 8px;
      margin-right  : 8px;
      border-right  : 1px solid $greyef;

      &.last {
        border-right : none;
      }
    }
  }
}

@media (min-width : 786px) {

  footer {

    .ft1, .ft2 {
      width : 50%;
      float : left;
    }
    .ft2 {
      margin-bottom : 0;
      text-align    : right;
      float         : right;
    }
  }

}

@media (max-width : 400px) {

  footer {

    .secured {
      display : block;
    }
  }

}

.pay-bill {

  .pay-sect-head {
    border-bottom  : 1px dotted $greyb;
    padding-bottom : 5px;
    margin-bottom  : 20px;

    .sect-num {
      border-radius : 4px;
      background    : $blue-gr;
      width         : 26px;
      height        : 26px;
      color         : $white;
      line-height   : 26px;
      text-align    : center;
      margin-right  : 6px;
      display       : inline-block;
    }
    h3 {
      display       : inline-block;
      margin-bottom : 4px;
    }
  }
  .pay-sect-body {
    margin-bottom : 50px;

    .ps-who,
    .ps-info,
    .ps-due {
      border-radius : 6px;
      padding       : 15px;
      font-weight   : $f-lt;
      border        : 3px solid $white;
      font-size     : 17px;

      .wht-lbl,
      .sm-lbl {
        font-weight : $f-bold;
        font-size   : 13px;
      }
    }
    .ps-who {
      background : $greyf5;
      p {
        margin-bottom : 0;
      }

      @media (max-width : 576px) {
        .ps-payfor {
          margin-bottom  : 15px;
          padding-bottom : 15px;
          border-bottom  : $greyd 1px solid;
        }
      }
    }
    .ps-info {
      background : $greye3;
      .act {
        text-transform : uppercase;
      }
    }
    .ps-due.zero {
      background : $red;
    }

    .ps-due {
      background : $blue;
      color      : $white;

      .wht-lbl,
      .price {
        display        : inline-block;
        vertical-align : middle;

      }
      .wht-lbl {
        background    : $white;
        border-radius : 2px;
        padding       : 2px 7px;
        margin        : 10px 12px 10px 0;
        color         : $grey5;
      }
      .price {
        font-size : 1.625rem;
      }

      @media (max-width : 576px) {
        .wht-lbl {
          margin : 0 0 12px 0;
          width  : 100%;
        }
      }

    }

    .bill-method {
      .card-header {
        background : $lt-blue-3;

        img.ccards {
          height : 28px;
        }
      }
      .list-group-item.active {
        background : $lt-blue-2;
        color      : $grey5;
      }
    }

  }

	@media (max-width : 576px) {
		.pay-sect-body {
	       margin-bottom: 35px;
	       &.last {
		       margin-bottom: 20px;
	       }
		}
	}
}

