a.navbar-brand {
  font-family : $roboto-slab;
  color       : $grey5;
  font-weight : 300;
  font-size   : 1.5rem;
  cursor      : pointer;

  span {
    color       : $blue;
    font-weight : 700;
  }
}

@media (min-width : 576px) {
  a.navbar-brand {
    font-size : 1.75rem;
  }
}

nav.navbar.navbar-light {
  box-shadow : 0px 2px 11px 0px rgba(0, 0, 0, 0.24);
  padding    : 1rem;
  color      : $grey5;

  .navbar-toggler {
    border  : none;
    outline : none;
    padding : 0;
  }
  .navbar-nav {
    float : right;
  }
  a.nav-link {
    color     : $grey7;
    font-size : 1rem;

    &:hover,
    &:active {
      color : $blue;
    }
  }

}

aside {
  .navbar-nav {
    float : none;
  }
  a.nav-link {
    color     : $grey7;
    font-size : .93rem;

    &:hover,
    &:active {
      color : $blue;
    }
  }
}

.c-offcanvas {
  left       : 0;
  padding    : 1rem;
  overflow-y : auto;
}

.js-offcanvas {
  a {
    outline       : 0;
    padding       : 10px;
    border-bottom : 1px solid $greye9;
  }

  .dropdown-menu {
    position : relative;
    border   : none;
  }
}